header {
    text-align: center;
    color: white;
    background: rgb(72, 72, 91);
    
    size: 100px;
    padding-top: 10px;
    padding-bottom: 10px
}
*{
    box-sizing: border-box;
}
/*
#dayof {
    margin: 20px;
    border-style: dotted;
} */
#search {
    margin-top: 15px;
}
#history-clear {
    margin-top: 15px;
}
#forecastContainer {
    border-color: red;
    margin-top: 100px;
    margin-left: 240px;
    display:inline-table;
    border-style: dotted;
    background-color: rgb(201, 201, 201);
    border-style: rounded;
}
#display {
    flex-direction: column;
}
button:hover {
    background-color: rgb(194, 194, 232);
    text: white;
}
